@charset "utf-8";
/* 초기화 */
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: "맑은 고딕", sans-serif;    
}
/* 헤더 영역 */
header {
    height: 150px;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
header > .logo {
    float: left;
    padding-top: 40px;
}
header > .logo img {
    width: 250px;
}
header > nav {
    float: right;
    padding-top: 70px;
}
nav > ul {
    width: 600px;
}

nav li.dropdown {
    float: left;
    width: 200px;
}
nav li.dropdown > a {
    display: block;
    padding: 14px 16px;
    text-align: center;
}
nav li.dropdown > a:hover, nav li.dropdown:hover .dropbtn {
    background-color: #7b422e;
    color: #fff;
}
nav li.dropdown:hover ul.dropdown_content {
    display: block;
}
nav ul.dropdown_content {
    display: none;
    width: 200px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
nav ul.dropdown_content a {
    display: block;
    padding: 14px 16px;
    text-align: center;
}
nav ul.dropdown_content a:hover {
    background-color: #bb692d;
    color: #fff;
}

/* 메인 이미지 영역 */
#main_image {
    height: 400px;
    width: 960px;
    margin: 0 auto;
    position: relative;
}
#main_image > .imgs {
    height: 400px;
    position: absolute;
}
#main_image > .welcome {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: -50px 0 0 -150px;
    line-height: 50px;
    border-radius: 10px;
}
#main_image > .welcome > h1 {
    color: #bb692d;
}
#main_image > .welcome > h2 {
    color: #6a6a6a;
    font-size: 1.3em;
}
/* 메인 콘텐츠 영역 */
#contents {
    min-height: 500px;
    margin-top: 20px;
    width: 960px;
    margin: 0 auto;
}
/* 공지사항 영역 */
#contents > .notice {
    width: 480px;
    float: left;   
}
#contents > .notice > h2 {
    text-align: center;
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
}
#contents > .notice > table {
    font-size: 0.9em;
    color: #666;
    width: 430px;
    margin-left: 20px;
    border-collapse: collapse;
}
#contents > .notice > table tr > th {
    padding: 5px 0;
}
#contents > .notice > table tr > td {
    padding: 5px;
}
#contents > .notice > table tr:nth-child(2n) {
    background-color: rgba(153,153,102,0.5);
}
/* Partner 영역 */
#contents > .partner {
    width: 480px;
    float: right;    
}
#contents > .partner > h2 {
    text-align: center;
}
#contents > .partner > .partner_info {
    margin-top: 10px;
    margin-left: 100px;
    cursor: pointer;
}
/* 아이콘 제작 콘텐츠 영역*/
#contents > .icons {
    clear: both;
    padding-top: 20px;
    text-align: center;
}
#contents > .icons > .icon {
    display: inline-block;
    width: 160px;
    margin: 0 20px;
}
#contents > .icons > .icon > img {
    width: 150px;
}
#contents > .icons > .icon > button {
    padding: 10px;
    border: none;
    background-color: #bb692d;
    font-size: 1.2em;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
#contents > .icons > .icon > button:hover {
    background-color: #99cc66;
}
/* 푸터 영역 */
footer {
    height: 150px;
    background-color: #bb692d;
    color: #fff;
    margin-top: 30px;
    padding: 20px;
}
#footerInner {
    width: 960px;
    margin: 0 auto;
}
footer ul {
    float: left;
}
footer ul li {
    float: left;
    padding-top: 30px;
    padding-right: 20px;
}
footer ul li a {
    color: #fff;    
}
footer address {
    float: right;
    font-style: normal;
    font-size: 0.8em;
    margin-right: 120px;
}